html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100vh;
  background-color: rgb(14, 13, 13);
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 420px;
  scroll-snap-type: y mandatory;
}

/*esconder scrollbar for Chrome, safari and opera*/
.app__videos::-webkit-scrollbar {
  display: none;
}

/*esconder scrollbar for IE, edge ad firefox*/
.app__videos {
  -ms-overflow-style: none; /* IE and edge*/
  scrollbar-width: none; /*firefox*/
}
